<!-- CONTENT -->
.container-header-toolbar.theme_default
    .breadcrumbs
        a(routerLink="/admin/rol") Rol
    .sub-header
        h2.title-section Rol
        .spacer
        .items
            .spacer
            button.d-none.d-sm-block.btn_new_programming(mat-flat-button, color="primary", (click)="create()") REGISTRAR

.request.container-fluid.theme_default(*ngIf="load_success")
    .chart-wrapper
        div
            table(mat-table, matSort, [dataSource]="dataSource")
                ng-container(matColumnDef="id")
                    th(mat-header-cell, mat-sort-header, *matHeaderCellDef)  Nro.
                    td(mat-cell, *matCellDef="let element")  {{element.rol_id }}
                ng-container(matColumnDef="name")
                    th(mat-header-cell, mat-sort-header, *matHeaderCellDef)  Nombre
                    td(mat-cell, *matCellDef="let element")  {{ element.name }}
                ng-container(matColumnDef="description")
                    th(mat-header-cell, mat-sort-header, *matHeaderCellDef)  Descripción
                    td(mat-cell, *matCellDef="let element")  {{ element.description }}
                ng-container(matColumnDef="permission")
                    th(mat-header-cell, mat-sort-header, *matHeaderCellDef)  Permisos
                    td(mat-cell, *matCellDef="let element")  {{ element.permission }}
                ng-container(matColumnDef="edit")
                    th(mat-header-cell, mat-sort-header, *matHeaderCellDef)  Acciones
                    td(mat-cell, *matCellDef="let element")
                        button(mat-icon-button aria-label="Editar", (click)="edit(element)")
                            mat-icon edit
                        button(mat-icon-button aria-label="Eliminar", (click)="remove(element)")
                            mat-icon delete
                tr(mat-header-row, *matHeaderRowDef="displayedColumns")
                tr(mat-row, *matRowDef="let row; columns: displayedColumns;")
            mat-paginator([pageSizeOptions]="[5, 10, 20]", showFirstLastButtons)
